@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
    th,
    td {
        border-right: 1px solid #f0f4f8;
        background-color: white;
        padding: 20px 10px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
    tr {
        border-top: 1px solid #f0f4f8;
    }
    .scroll_custom::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    .scroll_custom::-webkit-scrollbar {
        height: 8px;
        background-color: #f5f5f5;
    }

    .scroll_custom::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #10b981;
    }
}
